= form_with model: [@article, @article.comments.build] do |f|
  %table.form-table
    %tr
      %th
        Commenter
      %td
        = f.text_field :commenter, class: 'text-field'
    %tr 
      %th
        Comment
      %td
        = f.text_field :body , class: 'text-field'
    %tr
      %th
        Status
      %td
        = f.select :status, Visible::VALID_STATUSES - ['deleted']

  = f.submit "Comment", class: 'form-table-button'

/ :javascript
/   $(document).ready(function(){
/     document.getElementById('comment_status').disabled = true;
/   })