= content_for :title, "#{@article.title}"

.items
  .items-head
    .article
      = button_to article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, style: "background-color: white; border: none; float: right;" do
        %i.fa.fa-close{style: 'float:right;margin-right: 10px'}

      = link_to edit_article_path(@article), class: 'small-button' do 
        %i.fa.fa-edit{style: 'float:right; margin-right: 5px'}

    %p
      = @article.title

    .items-body
      .items-body-content
        = @article.body

        %right
          Wrote by 
          = @article.author

      - if @article.article_histories.count > 0
        %button.edit-history-button{class: 'edit-history'}
          Versions
        %a{class: 'edit-history-content'}
          %table.styled-table
            %thead
              %tr
                %th{width: '5%'}
                  Version
                %th{width: '10%'}
                  Title
                %th{width: '50%'}
                  Body
                %th{width: '35%'}
                  Last modified
            = render @article_histories

  .items-body
    %header
      Comments

    - if @comments.count == 0 
      #div{style: "text-align: center"}
        = "Be the first one to share opinion!"
    - else
      = render @comments


    .form
      .title
        .title-line
          Add a comment:

      = render "comments/form"

:sass
  .border
    margin-top: 5%;
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

  .comment
    text-align: center;

  .styled-table
    width: 90%
    margin: 25px 5% 0 5%;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #CCC;

  .styled-table thead tr
    background-color: #009879;
    color: #ffffff;
    text-align: left;

  .styled-table tbody tr
    text-align: left;

  .edit-history-button
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    background: #009879;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px    
  
  .article
    width: 100%;
    height: 100%;
    box-shadow: 4px, 3px, 20px;
    display: box;
    text-align: center;

  .article-title
    margin-top: 5%;
    font-size: 32px;
    font-weight: bold;

  .article-body
    margin-top: 5%;
    font-size: 16px;
    margin-bottom: 10%;

:javascript 
  this.hide_edit_history = function() {
    $('.edit-history-content').hide()
    console.log('hide')
  }

  this.show_edit_history = function () {
    $('.edit-history-content').show()
    console.log('show')
  }
  
  hide_edit_history();

  var eh = document.getElementsByClassName("edit-history-content")[0];
  $('.edit-history').click(function(){
    if (window.getComputedStyle(eh).display === "none"){
      show_edit_history();
    } else {
      hide_edit_history();
    }
  })

